<h1>Edit bookmark</h1>

<form action="/bookmarks/<%= @bookmark.id %>" method="post">
  <input type="hidden" name="_method" value="patch">
  <label for="url">URL:</label>
  <input type="text" name="url" value="<%= @bookmark.url %>">
  <br>
  <label for="title">Title:</label>
  <input type="text" name="title" value="<%= @bookmark.title %>">
  <br>
  <label for="description">Description:</label>
  <input type="text" name="description" value="<%= @bookmark.description %>">
  <br>
  <input type="submit">
</form>
