<h1>Add new bookmark</h1>

<% if @bookmark.errors.any? %>
  <div>
    <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form  action="/bookmarks/new" method="post">
  <p>
    <input type="text" name="url" id='url' placeholder="URL">
  </p>

  <p>
    <input type="text" name="title" id="title" placeholder="Title">
  </p>

  <p>
    <input type="text" name="description" id="description" placeholder="Description">
  </p>

  <p>
    <input type="text" name="category" placeholder="Category">
  </p>

  <input type="submit">
</form>

<nav>
  <ul>
    <li><a href="/users">Home</a></li>
    <li><a href="/bookmarks">View bookmarks</a><br></li>
    <li><a href="/categories">View categories</a></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
