<h1>Add new bookmark</h1>

<% if @bookmark.errors.any? %>
  <div>
    <ul>
      <% @bookmark.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<form  action="/bookmarks/new" method="post">
  <p>
    <input type="text" name="url" id='url' placeholder="URL">
  </p>

  <p>
    <input type="text" name="title" id="title" placeholder="Title">
  </p>

  <p>
    <input type="text" name="description" id="description" placeholder="Description">
  </p>

  <input type="submit">
</form>
