<h1>Add new bookmark</h1>

<form  action="/bookmarks/new" method="post">
  <p>
    <input type="text" name="url" id='url' placeholder="URL">
  </p>

  <p>
    <input type="text" name="title" id="title" placeholder="Title">
  </p>

  <p>
    <input type="text" name="description" id="description" placeholder="Description">
  </p>

  <p>
    <input type="text" name="category" list="categories" placeholder="Category">
      <datalist id="categories">
        <% @bookmarks.each do |bookmark| %>
          <% if bookmark.category %>
            <option value="bookmark.category"></option>
          <% end %>
        <% end %>
      </datalist>
  </p>
  <input type="submit">
</form>
