<div class="row">
  <div class="text-center">
    <h1>Add new bookmark</h1>

    <% if @bookmark.errors.any? %>
      <div>
        <ul>
          <% @bookmark.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form  action="/bookmarks/new" method="post" id="new-form">
      <p>
        <input type="text" name="url" id='url' placeholder="URL">
      </p>

      <p>
        <input type="text" name="title" id="title" placeholder="Title">
      </p>

      <p>
        <textarea name="description" form="new-form" placeholder="Description"></textarea>
      </p>

      <p>
        <input type="text" name="category" placeholder="Category">
      </p>

      <input type="submit">
    </form>
  </div>
</div>
