<h2>Log in</h2>

<form action="/login" method="post">
  <div>
    <p><input type="text" name="email" placeholder="Email"></p>
  </div>

  <div>
    <p><input type="password" name="password" placeholder="Password"></p>
  </div>

  <div>
    <p><input type="submit"></p>
  </div>

</form>

<div>
  <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
