<div class="row">
  <div class="col text-center">
    <h4>Sign Up</h4>

    <% if @user.errors.any? %>
      <div>
        <ul>
          <% @user.errors.full_messages.each do |msg| %>
            <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <form action="/signup" method="post">
        <p>
            <input type="text" name="email" placeholder="Email">
        </p>
        <p>
            <input type="password" name="password" placeholder="Password">
        </p>
        <p>
            <input type="password" name="password_confirmation" placeholder="Confirm password">
        </p>
        <p>
          <input type="submit">
        </p>
    </form>

    <div>
        <p>
            Have an account?
            <a href="/login">Log in</a>
        </p>
    </div>
  </div>


</div>
