<h2>Categories</h2>

<% @categories.each do |category| %>
  <div>
    <p><a href="/categories/<%= category.id %>"><%= category.name %></a></p>
  </div>
<% end %>

<nav>
  <ul>
    <li><a href="/users">Home</a></li>
    <li><a href="/bookmarks">View bookmarks</a><br></li>
    <li><a href="/logout">Logout</a></li>
  </ul>
</nav>
