<div class="heading">
  <h3>Keep and orangize your favorite websites</h3>

</div>

<div class="text-center">
  <a href="/signup" class="btn btn-primary btn-md">Sign Up</a>&nbsp;&nbsp;
  <a href="/login" class="btn btn-primary btn-md">Log in</a>
</div>
